{
  "folders": [
    {
      "name": "{{PROJECT_NAME}}",
      "path": "."
    }
  ],
  "settings": {
    "files.exclude": {
      "**/.git": true
    }
  },
  "extensions": {
    "recommendations": [
      "ms-vscode.PowerShell",
      "hashicorp.terraform",
      "yzhang.markdown-all-in-one",
      "bierner.markdown-mermaid",
      "EditorConfig.EditorConfig"
    ]
  }
}
