{
  "folders": [
    {
      "name": "{{PROJECT_NAME}}",
      "path": "."
    }
  ],
  "settings": {
    "files.exclude": {
      "**/.git": true
    }
  },
  "extensions": {
    "recommendations": []
  }
}
